<h1>Crypto Live Price Tracker</h1>



<div class="flex justify-items-stretch justify-between">

    <%=for currency <- @currencies do %>
        <%= live_component @socket, CryptoWeb.PageLive.CurrencyComponent, id: currency.id, currency: currency, user: @user %>
    <% end %>

</div>